<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email"  minlength="15" ngModel class="form-control" required #email="ngModel"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <div *ngIf="email.invalid && email.touched;" >
            <small *ngIf="email.errors.required" id="emailHelp" class="form-text text-muted"> Please Enter Your Email .</small>
            <small *ngIf="email.errors.minlength"> Please Enter Email min {{email.errors.minlength.requiredLength}}.</small>
             </div>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" ngModel  class="form-control" required #password="ngModel" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>